<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Detail</title>

    <style>
        table {
           border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        {% for property in movie %}

        <tr>
            <td>
                {{ property }}
            </td>
            <td>
                {{ movie[property] }}
            </td>

        </tr>
        {% endfor %}

    </table>


</body>
</html>